.home {
    --bd-primary: #570324;
    --bd-accent: #8B2E4B;
    --bd-light: #F0E1EA;
    --bd-hover: #6A1935;
    --bd-primary-rgb: 87, 3, 36;
    --bd-accent-rgb: 139, 46, 75;
    --bd-pink-rgb: 214, 51, 132;
  
    .bd-masthead {
      padding: 3rem 0;
      background-image: linear-gradient(
        180deg,
        rgba(var(--bs-body-bg-rgb), 0.01),
        rgba(var(--bs-body-bg-rgb), 1) 85%
      ),
      radial-gradient(ellipse at top left, rgba(var(--bd-primary-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at center right, rgba(var(--bd-primary-rgb), 0.5), transparent 50%),
      radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
    }
  
    .btn-bd-primary {
      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-primary);
      --bs-btn-border-color: var(--bd-primary);
      --bs-btn-border-radius: 0.5rem;
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: var(--bd-hover);
      --bs-btn-hover-border-color: var(--bd-hover);
      --bs-btn-focus-shadow-rgb: var(--bd-primary-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: var(--bd-accent);
      --bs-btn-active-border-color: var(--bd-accent);
    }
  }
  
  .navbar {
    @extend .navbar-dark;
  
    padding: 0.75rem 0;
    background-color: #570324;
    background-image: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  
    .nav-link {
      color: #fff;
  
      &:hover,
      &:focus {
        color: #F0E1EA;
      }
    }
  
    .navbar-brand img {
      height: 40px;
    }
  }
  
  .text-violet {
    color: #570324;
  }
  
  .list {
    .card {
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.01);
      }
    }
  }
  
  .navbar-brand {
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: rotate(-2deg) scale(1.1);
    }
  }
  