// Bootstrap palette
$primary:   #570324 !default;  // replaces the purple everywhere
$secondary: #A67D92 !default;  // etc.
$info:      #ffe484 !default;
// …and any others ($success, $warning, $danger)

// Body defaults
$body-bg:   #ffffff !default;
$body-color:#212529 !default;
